body{
  background-color: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
  }
  
  li {
    float: left;
    border-right: 1px solid;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  li:last-child{
    border-right: none;
  }


  /*table*/
  table{
    border: 1px solid;
    text-align: left;
  }
  th, td{
    border-right: 1px solid #000000;
    border-bottom: 1px solid;
  }


  /*Image Gallery*/

  .scrolling-gallery {
    width: auto;
    overflow-y: clip;
    display: flex;
    overflow-x: scroll;
    gap: 2px;
    height:calc(75vh - 0px);
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    height:100%;
  }
  
  .image-container img{
    height:calc(100% - 40px);
  }
  
  .image-container h2{
    height:40px;
    font-size:16pt;
    align-self: center;
  }